[submodule "openal/src/main/jni/openal"]
	path = openal/src/main/jni/openal
	url = https://github.com/kcat/openal-soft.git
[submodule "gl4es/src/main/jni/gl4es"]
	path = gl4es/src/main/jni/gl4es
	url = https://github.com/sandstranger/gl4es.git
[submodule "sdl2"]
	path = sdl2
	url = https://github.com/sandstranger/SDL.git
[submodule "app/src/main/jni/WolfensteinRPG-RE"]
	path = app/src/main/jni/WolfensteinRPG-RE
	url = https://github.com/sandstranger/WolfensteinRPG-RE.git
[submodule "sdl2-mixer/src/main/jni/SDL_mixer"]
	path = sdl2-mixer/src/main/jni/SDL_mixer
	url = https://github.com/sandstranger/SDL_mixer.git
[submodule "app/src/main/jni/DoomRPG-RE"]
	path = app/src/main/jni/DoomRPG-RE
	url = https://github.com/sandstranger/DoomRPG-RE.git
[submodule "app/src/main/jni/DoomIIRPG-RE"]
	path = app/src/main/jni/DoomIIRPG-RE
	url = https://github.com/sandstranger/DoomIIRPG-RE.git
[submodule "fluidsynth/src/main/jni/fluidsynth-android"]
	path = fluidsynth/src/main/jni/fluidsynth-android
	url = https://github.com/sandstranger/fluidsynth-android.git
[submodule "sdl2-ttf/src/main/jni/sdl-ttf"]
	path = sdl2-ttf/src/main/jni/sdl-ttf
	url = https://github.com/sandstranger/SDL_ttf.git
[submodule "CTranslate2/src/main/jni/CTranslate2"]
	path = CTranslate2/src/main/jni/CTranslate2
url=https://github.com/sandstranger/CTranslate2.git
[submodule "sentencepiece/src/main/jni/sentencepiece"]
	path = sentencepiece/src/main/jni/sentencepiece
	url = https://github.com/google/sentencepiece.git
[submodule "icu4c/src/main/jni/icu4c_android"]
	path = icu4c/src/main/jni/icu4c_android
	url = https://github.com/sandstranger/icu4c_android.git
[submodule "Tokenizer/src/main/jni/Tokenizer"]
	path = Tokenizer/src/main/jni/Tokenizer
	url = https://github.com/OpenNMT/Tokenizer.git
